/* Base style */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #888;
}

/* mobile nav styling */
nav {
  background: #383838;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav a {
  color: #888;
  text-decoration: none;
}

.mainnav {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.logo img {
  width: 80px;
  height: 20px;
  padding-left: 10px;
}

.object {
  padding: 10px;
  font-size: 12px;
}

.object-home a {
  color: rgb(211, 82, 102);
}

.object a:hover {
  color: #d35266;
}

.object .fas {
  color: rgb(255, 255, 255);
}

.object-home {
  padding: 10px;
  font-size: 12px;
}

.object-home a:hover {
  color: rgb(255, 255, 255);
}

.object-home .fas {
  color: #d35266;
}

.lgnav {
  display: none;
}

.ad-button {
  background-color: #d35266;
  color: #fff;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

main {
  background: rgb(243, 243, 243);
}

/* search style */
.search {
  display: none;
}

/* Hot ads style */
.hotads {
  display: none;
}

/* mobile items list */
.mobile-head {
  padding-left: 10px;
  padding-top: 10px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #888;
}

.mobile-head .fas {
  color: #888;
}

.mobile-h-info {
  font-size: 10px;
  font-weight: normal;
  color: #888;
}

hr {
  margin: 5px 10px;
}

.card-holder {
  max-width: 170px;
  padding-left: 8px;
}

.card {
  display: block;
  border-radius: 0;
}

.card-b {
  padding-top: 5px;
  padding-left: 5px;
}

.card-t {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.small-info {
  color: #d35266;
  font-size: 12px;
  font-weight: 600;
  padding-top: 0;
}

.card-txt {
  font-size: 12px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #888;
  margin-bottom: 0;
}

.plus-square {
  color: #888;
  border-radius: 5%;
  border: 0.5px solid rgb(180, 179, 179);
  padding: 0;
  margin: 0;
}

.plus-square .fas {
  color: #888;
  font-size: 12px;
  padding: 1px;
  margin: 0;
  text-align: center;
}

.cash {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #d35266;
  font-weight: 600;
  font-size: 14px;
}

.foot-img {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #888;
  font-weight: 300;
  font-size: 12px;
}

.foot-img img {
  filter: grayscale(100%);
}

.footer-copyright {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #888;
  font-weight: 300;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .mainnav {
    display: none;
  }

  .lgnav {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    font-size: 16px;
    margin: 0;
  }

  /* search style */
  .search {
    display: block;
    background: url(../img/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .form-control {
    border-radius: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #888;
    font-weight: 400;
    font-size: 10px;
  }

  .form-button {
    background-color: #383838;
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 700;
  }

  .form-button a:hover {
    color: #d35266;
  }

  /* Hot ads style */
  .hotads {
    display: block;
    background-color: #fff;
    width: auto;
  }

  .hot-ads-box {
    padding-left: 75px;
    padding-right: 75px;
  }

  .hot-ads-head {
    padding: 15px 75px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #888;
  }

  .left-button {
    padding-top: 80px;
    padding-right: 10px;
  }

  .left-button .fas {
    font-size: 25px;
    border-radius: 50%;
    border: 1px solid #888;
    color: #d35266;
    line-height: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
  }

  .right-button {
    padding-top: 80px;
    padding-left: 10px;
  }

  .card-title {
    color: #d35266;
    font-weight: 600;
  }

  .hotad-button1 {
    background-color: #d35266;
    color: #fff;
    border-right: 0.5px solid #000;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 700;
  }

  .hotad-button {
    background-color: #d35266;
    color: #fff;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 700;
  }

  .right-button .fas {
    font-size: 25px;
    border-radius: 50%;
    border: 1px solid #888;
    color: #d35266;
    line-height: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
  }
}
