@font-face {
    font-family: 'HelveticaNeueLT Com 45 Lt';
    src: url('HelveticaNeueLTCom-Lt.eot');
    src: url('HelveticaNeueLTCom-Lt.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTCom-Lt.woff2') format('woff2'),
        url('HelveticaNeueLTCom-Lt.woff') format('woff'),
        url('HelveticaNeueLTCom-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT Com 75 Bd';
    src: url('HelveticaNeueLTCom-Bd.eot');
    src: url('HelveticaNeueLTCom-Bd.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTCom-Bd.woff2') format('woff2'),
        url('HelveticaNeueLTCom-Bd.woff') format('woff'),
        url('HelveticaNeueLTCom-Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT Com 65 Md';
    src: url('HelveticaNeueLTCom-Md.eot');
    src: url('HelveticaNeueLTCom-Md.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTCom-Md.woff2') format('woff2'),
        url('HelveticaNeueLTCom-Md.woff') format('woff'),
        url('HelveticaNeueLTCom-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HomepageBaukasten';
    src: url('HomepageBaukasten-Bold.eot');
    src: url('HomepageBaukasten-Bold.eot?#iefix') format('embedded-opentype'),
        url('HomepageBaukasten-Bold.woff2') format('woff2'),
        url('HomepageBaukasten-Bold.woff') format('woff'),
        url('HomepageBaukasten-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hero';
    src: url('Hero-Light.eot');
    src: url('Hero-Light.eot?#iefix') format('embedded-opentype'),
        url('Hero-Light.woff2') format('woff2'),
        url('Hero-Light.woff') format('woff'),
        url('Hero-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

